.list {
	margin-bottom: 30px;

	&__add-button {
		.list__icon-block {
			svg {
				path {
					stroke: #868686;
				}
			}
		}

		span {
			color: #868686;
		}

		&:hover {
			.list__icon-block {
				svg {
					path {
						stroke: #000000;
					}
				}
			}
	
			span {
				color: #000000;
			}
		}
	}

	li {
		display: flex;
		align-items: center;
		padding: 10px 12px;
		cursor: pointer;

		&.active {
			background: #FFFFFF;
			box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.04);
			border-radius: 4px;
		}
		
		.list__icon-block {
			margin-right: 8px;
			display: inline-flex;

			svg {
				path {
					fill: #7c7c7c;
				}
			}
		}
	}
}